<!DOCTYPE html>
<html>
<head>
  <title>My Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "myRecipe", "", class: "btn btn-lg btn-success" , id:"logo" %>
    <div class="nav_item">
    	<%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
    	<%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
    	<%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>
</nav>

	<div class="container">

		<%= yield %>

		<div class="footer">
			&copy; MyRecipe 2016
		</div>

	</div> <!-- end of container -->
</body>
</html>
